main img{
    width: 50%;
}
#section-productos{
    display: flex;
    justify-content: center;flex-wrap: wrap;
}

#section-productos article{
    flex-basis: 30%;
    text-align: center;
    margin: 0.5em;
    border: 1px solid ;
    border-radius: 10px;
}

#section-productos img {
    width: 70%;
}

#section-productos p {
    padding: 0.5em;
}

#section-productos article:hover {
    box-shadow: skyblue 5px 5px;
    background-color: black;
}

header h2 {
    background-color: burlywood;
    padding: 0;
    margin: 0;
    text-align: center;
}

header h1{
    background-color:black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

#header1 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: pink;
    display: flex;
    justify-content: space-around;
}


#header1 nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: .5em 1em;
}

#header1 nav ul li a:hover {
    background-color: black;
    color: white;
}

header{
    grid-area: header;
}


main{
    background-color: rgb(59, 57, 57);
    color: bisque;
    grid-area: main;
}

footer address p{
    background-color: black;
    color: white;
    border: 0;
    margin: 0;
    grid-area: footer;
}

body{
    display: grid;
    grid-template-columns: 4fr 0fr;
    gap: 0.5em ;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}